{% extends 'parent.html.twig' %}

{% block titre1 %}
<h1>Une seule annonce</h1>
{% endblock %}

{% block annonces %}
<section class="container">
    <div class="annonces">
        
            <article>
            <h3><a href="{{ path('annonce', {'slug': annonce.slug, 'id': annonce.id}) }}">{{ annonce.titre }}</a></h3>
            <div>publié par {{ annonce.user.username }}</div>
            <p>{{ annonce.contenu }}</p>
            {% if annonce.image %}
                <div><img src="{{ asset('uploads/' ~ annonce.image) }}" class="img-fluid"></div>
            {% endif %}
            <div>{{ annonce.datePublication ? annonce.datePublication|date('d-m-Y H:i') : '' }}</div>
        </article>

    </div>
</section>
{% endblock %}