<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Projet Symfony</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    

     {% block carte1 %}
    {% endblock %}
</head>
<body>

    <header>
        <nav>
            <a href="{{ path('index') }}">accueil</a>
            <a href="{{ path('annonces') }}">annonces</a>
            <a href="{{ path('galerie') }}">galerie</a>
            <a href="{{ path('contact') }}">contact</a>
        </nav>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="mb-3">
                Bienvenue {{ app.user.username }}, 
                <a href="{{ path('admin') }}">admin</a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% elseif is_granted('ROLE_USER') %}
            <div class="mb-3">
                Bienvenue {{ app.user.username }}, 
                <a href="{{ path('membre') }}">espace membre</a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% else %}
            <nav>
                <a href="{{ path('app_register') }}">créez votre compte</a>
                <a href="{{ path('app_login') }}">connexion</a>
            </nav>
        {% endif %}
    </header>
    <main>
        <section>
        {% block titre1 %}
            <h1>Bienvenue</h1>
            {% endblock %}
            <h1> Sourire ❕❕❕</h1>
             {% block titre2 %}
            <h1>sur cette page</h1>
            {% endblock %}
             {% block titre3 %}
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, numquam in, mollitia culpa quia nostrum eius amet modi ipsam minus inventore assumenda eum ipsum voluptates, totam quibusdam similique consequatur expedita?</p>
            <img src="{{ asset('images/photo4.jpg') }}" alt="photo4">
             {% endblock %}

             {% block carte2 %}
            {% endblock %}
        </section>
    </main>
    <footer>
        <p>tous droits réservés</p>
    </footer>
    <script src="{{ asset('js/script.js') }}"></script>
</body>
</html>